<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Country Table</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div id="app">
    <country-table :countries="pageData.data" :pagination="pageData.rpag" :filter="filter"></country-table>
</div>


<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>

<script>
    Vue.component('country-table', {
        props: {
            countries: Array,
            pagination: Object,
            filter: Object
        },
        data() {
            return {
                currentPage: 1
            };
        },
        computed: {
            filteredCountries() {
                const filterKey = Object.keys(this.filter)[0];
                const filterValue = this.filter[filterKey].toUpperCase();
                return this.countries.filter(country => country[filterKey].toUpperCase().includes(filterValue));
            },
            paginatedCountries() {
                return this.filteredCountries;
            }
        },
        template: `
          <div>
            <div class="mb-3">
              <label for="filterInput">Filter by ISO Name:</label>
              <input type="text" class="form-control" id="filterInput" v-model="filter.printable_name">
            </div>
            <table class="table">
              <thead>
              <tr>
                <th>ISO Code</th>
                <th>Country Name</th>
                <th>Alpha-3 Code</th>
                <th>Numeric Code</th>
              </tr>
              </thead>
              <tbody>
              <tr v-for="country in paginatedCountries" :key="country.iso_3166_1_a2">
                <td>{{ country.iso_3166_1_a2 }}</td>
                <td>{{ country.printable_name }}</td>
                <td>{{ country.iso_3166_1_a3 }}</td>
                <td>{{ country.iso_3166_1_numeric }}</td>
              </tr>
              </tbody>
            </table>
            <nav aria-label="Page navigation">
              <ul class="pagination">
                <li class="page-item" :class="{ 'disabled': !pagination.has_previous }">
                  <a class="page-link" href="#" @click="navigate(pagination.previous_page_number)">Previous</a>
                </li>
                <li class="page-item" :class="{ 'disabled': !pagination.has_next }">
                  <a class="page-link" href="#" @click="navigate(pagination.next_page_number)">Next</a>
                </li>
              </ul>
            </nav>
          </div>
        `,
        methods: {
            navigate(pageNumber) {
                console.log('Navigate to page:', pageNumber);
                this.currentPage = pageNumber;
            }
        }
    });

    new Vue({
        el: '#app',
        data: {
            pageData: {
                data: [],
                rpag: {}
            },
            filter: {
                printable_name: ''
            }
        },
        mounted() {
            this.pageData = {
                data: [
                    {
                        "iso_3166_1_a2": "RU",
                        "iso_3166_1_a3": "RUS",
                        "iso_3166_1_numeric": "643",
                        "printable_name": "Russian Federation"
                    },
                    {
                        "iso_3166_1_a2": "US",
                        "iso_3166_1_a3": "USA",
                        "iso_3166_1_numeric": "840",
                        "printable_name": "United States"
                    },
                    {
                        "iso_3166_1_a2": "CA",
                        "iso_3166_1_a3": "CAN",
                        "iso_3166_1_numeric": "124",
                        "printable_name": "Canada"
                    },
                    {
                        "iso_3166_1_a2": "CN",
                        "iso_3166_1_a3": "CHN",
                        "iso_3166_1_numeric": "156",
                        "printable_name": "China"
                    },
                    {
                        "iso_3166_1_a2": "IN",
                        "iso_3166_1_a3": "IND",
                        "iso_3166_1_numeric": "356",
                        "printable_name": "India"
                    },
                    {
                        "iso_3166_1_a2": "BR",
                        "iso_3166_1_a3": "BRA",
                        "iso_3166_1_numeric": "076",
                        "printable_name": "Brazil"
                    },
                    {
                        "iso_3166_1_a2": "AU",
                        "iso_3166_1_a3": "AUS",
                        "iso_3166_1_numeric": "036",
                        "printable_name": "Australia"
                    },
                    {
                        "iso_3166_1_a2": "AR",
                        "iso_3166_1_a3": "ARG",
                        "iso_3166_1_numeric": "032",
                        "printable_name": "Argentina"
                    },
                    {
                        "iso_3166_1_a2": "KZ",
                        "iso_3166_1_a3": "KAZ",
                        "iso_3166_1_numeric": "398",
                        "printable_name": "Kazakhstan"
                    },
                    {
                        "iso_3166_1_a2": "AL",
                        "iso_3166_1_a3": "ALB",
                        "iso_3166_1_numeric": "008",
                        "printable_name": "Albania"
                    },
                    {
                        "iso_3166_1_a2": "DZ",
                        "iso_3166_1_a3": "DZA",
                        "iso_3166_1_numeric": "012",
                        "printable_name": "Algeria"
                    },
                ],
                rpag: {
                    "has_next": false,
                    "has_previous": false,
                    "has_other_pages": false,
                    "next_page_number": null,
                    "previous_page_number": null,
                    "start_index": 1,
                    "end_index": 1,
                    "total_count": 249,
                    "selected_count": 1,
                    "pages": 1
                }
            };
        }
    });
</script>
</body>
</html>
